<h1 mat-dialog-title>Modale di inserimento libro.</h1>

<div mat-dialog-content>
  Inserisci le informazioni obbligatorie evidenzate da un *
</div>

<form [formGroup]="bookFormGroup" (ngSubmit)="onCreate()">

  <div class="form-outline mb-4">
    <input type="text" id="bookTitle" class="form-control form-control-lg" formControlName="bookTitle"/>
    <label class="form-label" for="bookTitle">Titolo</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="price" class="form-control form-control-lg" formControlName="price"/>
    <label class="form-label" for="price">Prezzo</label>
  </div>

</form>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Chiudi</button>
  <button type="submit">Inserisci</button>
</div>